.button {
    -fx-background-color:  #3F2B63;
    -fx-text-fill: white;
}
.button:hover {
    -fx-background-color: #7156DD;
}
.button:pressed {
    -fx-background-color: #7463b8;
}
.VBox{
	-fx-background-color: lightblue;
}
.root{
	-fx-background-color: #03e8fc;
}